# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/*
!.settings/org.eclipse.wst.common.component
.loadpath
.recommenders

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/